.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache
.mypy_cache
.ruff_cache

# Dependencies
**/node_modules
**/venv
**/.venv
env/
**/ENV

# Local artifacts
.env
*.log
genesis.db
data/
notebooks
.DS_Store
